body{
	font-size: 16px;
	color: #fff;
	background: url('../images/Front.png')no-repeat;
	width: 1200px
	height:800px;
}

#header-nav{
	background-color:#00022e;
	border: 0;
	border-radius: 0;
}

#logo-img{
	background:url('../images/logo.png') no-repeat;
	width: 220px;
	height: 200px;
	margin: 10px 15px 10px 0;
}
