body{
	font-size: 16px;
	color: #fff;
	background-color: #ff00;
	font-family: 'Oxygen',sans-serif;
}

#header-nav{
	background-color:#00022e;
	border: 0;
	border-radius: 0;
	overflow: auto;
}

#logo-img{
	background:url('../images/logo.png') no-repeat;
	width: 220px;
	height: 250px;
	margin: 10px 15px 10px 0;
}
.navbar-brand{
	padding-top: 25px;

}

.navbar-brand h1{
	font-family:'Lora',serif;
	color: #ffff;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 2px 2px 2px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
	overflow: left;
}
.navbar-brand a:hover,.navbar-brand a:focus{
	text-decoration: none;
}
.navbar-brand p {
	color: #000;
	text-transform: uppercase;
	font-size: .7em;
	margin-top: 15px;
}
.navbar-brand p span{
	vertical-align: middle;
}
#nav-list{
	margin-top: 10px;
}
#nav-list a{
	columns: #951c49;
	text-align: center;
}
#nav-list a:hover{
	background: #e7e7e7;
}
#nav-list a span{
	font-size: 1.8em;
}
#phone{
	margin: 5px;
}
#phone a{
	text-align: right;
	padding-bottom: 0;

}
#phone div{
	color: #557c3e;
	text-align: right;
	padding-right: 15px;
}

.navbar-header button.navbar-toggle,.navbar-header .icon-bar{
	border: 1px solid green;
}

.navbar-header button.navbar-toggle{
	clear:both;
	margin-top: -40px;
	

}


.panel-footer div.row{
	margin-bottom: 35px;
}

#hours,#address{
	line-height: 2;
}
#hours >span,#address >span{
	font-size: 1.3em;
}

#address p{
	color: #557c3e;
	font-size: .8em;
	line-height: 1.8;
}

#Admissions{
    font-style: italic;
}

#Admissions p:nth-child(2){

}
.container .jumbotron{
	box-shadow: 0 0 50px  #3f0c1f;
	border: 2px solid #3f0c1f;
}

#course-tile,#special-course,#map-tile{
	height: 250px;
	width: 200px;
	margin-left: 50px;
	margin-bottom: 15px;
	position:relative;
	border: 2px solid #3f0c1f;
	overflow: hidden;
	float: left;
}

#course-tile:hover,#special-course:hover,#map-tile:hover{
	box-shadow: 0 1px 5px 1px black;
}

#home-tile,#course-tile{
	background: url('../images/course.jpg')no-repeat;
	width: 200px;
	height: 250px;
	background-position: center;
}
#special-course{
	background: url('../images/special.jpg');
	width: 200px;
	height: 250px;
	background-position: center;
}

#course-tile span,#special-course span,#map-tile span{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.6em;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	opacity: .7;
}

/**course page**/
.category-tile{
	position: relative;
	border: 2px solid #3f0c1f;
	border-radius: 20px;
	overflow: hidden;
	width: 200px;
	height: 200px;
	margin :0 auto 15px; 
}
.category-tile span{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100;
	text-align: center;
	font-size: 1.2em;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	opacity: .9;
}
.category-tile:hover{
	box-shadow: 0 1px 5px 1px #cccccc;
}
#course-offered-tile+div{
	margin-bottom: 50px;
}

/**single category pages**/
.course-item-title{
	margin-bottom: 25px;
}
.course-item-title hr{
	width: 100%;
}
.course-item-title .course-item-type{
	font-size: 1.1em;
	text-align: right;;
	margin-top: -15px;
	margin-right: -15px;
}
.course-item-title .course-item-type span{
	font-size: .6em;
}

.course-item-photo{
	position: relative;
	border: 2px solid #3f0c1f;
	overflow: hidden;
	padding: 0;
	margin-right: -15px;
	margin-left: 0;
	margin-bottom: 20px;
	max-width: 250px;
}
.course-item-photo div{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 250px;
	font-size: 1.5em;
	background-color: gray;
	text-align: center;
}
.course-item-description{
	padding-right: 30px;
}
h3.course-item-title{
	margin: 0 0 10px;
}
.course-details{
	font-size: 1.2em;
	font-style: italic;
}

/**Larger deivces**/
@media(min-width: 1204px){
.container .jumbotron{
	background: url('../images/Front_lg.png');
	height: 675px;
	
}
}

/**Medium devices **/
@media(min-width: 992px) and (max-width: 1199px){
#logo-img{
	background:url('../images/logo.png') no-repeat;
	width: 220px;
	height: 300px;
	margin: 5px 5px 5px 0;
}

/**home page**/
	.jumbotron{
		background: url('../images/Front.png') no-repeat;
		height: 558px;
		
	}
}
/**Small Devices**/
@media(min-width: 768px) and (max-width: 991px){
	.jumbotron{
		background: url('../images/Front_small.png') no-repeat;
		height: 432px;
		
	}
}

/**Extra Small devices**/
@media(max-width: 767px){	
	#call-btn >a{
		font-size: 1.5em;
		display: block;
		margin: 0 20px;
		padding: 10px;
		border: 2px solid #fff;
		background-color:gray;
		color: black;
	}
	#xs-deliver{
		margin-top: 5px;
		font-size: .7em;
		letter-spacing: .1em;
		text-transform: uppercase;
	}


	.panel-footer section{
		margin-bottom: 30px;
		text-align: center;
	}

	.panel-footer section:nth-child(3){
		margin-bottom: 0;
	}
	.panel-footer section hr{
		width: 50%;
	}
	.container .jumbotron{
		margin-top: 30px;
		padding: 0;
		box-shadow: 0 0 50px #3f0c1f;
	}
	#course-tile,#special-course{
		width: 360px;
		margin: 0 auto;
	}
}

/**super small **/
@media (max-width: 479px){
	.navbar-brand h1{
		padding-top: 5px;
		font-size: 6vw;
	}
	#course-tile,#special-course {
		width: 280px;
		margin: 0 auto;
	}

	.col-xxs-12{
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: left;
		width: 100%; 
	}
}
